@page "/"
@inject NavigationManager NavManager

<PageTitle>Medical Images</PageTitle>

<h1>Hello!</h1>

Welcome to Medical Images.

@code {
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("/imageslist");
    }
}
